html {
    font-family: Lato, Helvetica, "Helvetica Neue", Arial, sans-serif;
}

body, div {
    margin: 0;
}

header {
    padding: 30px;
    background-color: darkslategray;
    color: floralwhite;
}

main {
    padding: 15px;
    background-color: floralwhite;
    color: #0A0A0A;
    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: 100px;
}

footer {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    background-color: #404040;
    color: floralwhite;
}

.App {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.toolbar {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-toolbar {
    margin-bottom: 5px;
}

#root {
    display: flex;
    min-height: 100vh;
}

#TextEditor {
    background-color: white;
    border: 1px solid #eaeaea;
    padding: 10px;
    margin: 15px;
    flex: 1;
    cursor: text;
    box-shadow: 0 0 5px 5px #efebe2;
    border-radius: 5px;
}